.parent{
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh; }
    .child1{
        background-color: rgb(42, 41, 41);
        display: flex;
        align-items: start;
        width: 340px;
        height: 150px;
        border-radius: 5%;
        margin-top:10px;
        margin-left: 10px;
        font-size: 30px;
        color: aliceblue;}
    .child2{
    position: absolute;
    right:1113px;
    background-color: rgb(42, 41, 41);
    width: 340px;
    height: 450px;
    margin-top: 170px;
    border-radius: 5%;
    color: white;}
.child2sub{
    background-color: rgb(60, 59, 59);
    width: 320px;
    height: 150px;
    border-radius: 5%;
    margin-left: 10px;
    position: absolute;
    top: 60px;}
h1{
    margin-left: 30px;
    margin-top: 10px;}
span1{
    color: white;
    margin-left: 90px;}
p1,p2{
    font-size: 20px;
   margin-left: 10px;}
 p1{
    position: absolute;
   top: 20px;}
p2{
    position: absolute;
    top: 60px;}
button{
    margin-left: 10px;
    position: absolute;
    top: 100px;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    font-size: large;}
    .child2sub2{
        background-color:rgb(60, 59, 59) ;
        width: 320px;
        height: 40px;
        position: absolute;
        top: 170px;
        border-top-left-radius: 9%;
        border-top-right-radius: 9%;}
        p3{
            margin-left: 20px;
            position: absolute;
            top: 20px;
            font-size: larger;}
        span2{
            position: absolute;
            top: 290px;
            margin-left: 10px;
            font-size: smaller;}
        span3{
            position: absolute;
            top: 290px;
            margin-left:60px;
        font-size: smaller;}
        span4{
            position: absolute;
            top: 290px;
            margin-left: 170px;
        font-size: smaller;}
        span5{
            position: absolute;
            top: 290px;
            margin-left: 285px;
        font-size: smaller;}
        span6{
                position: absolute;
                top: 320px;
                margin-left: 10px;
            font-size: smaller;}
                span7{
                    position: absolute;
                    top: 320px;
                    margin-left: 90px;
                font-size: smaller;}
                    span8{
                        position:absolute ;
                        top: 350px;
                        margin-left: 10px;
                    font-size: smaller;}
                    .bt1{
                        background-color: black;
                        color: white;
                        border-color: white;
                        position: absolute;
                        top: 390px;}
.child3{
    background-image: linear-gradient(to right,rgb(228,87,233),rgb(0, 162, 255));
    width: 94%;
    height: 25px;
    position: absolute;
    top: 638px;
    padding: 30px;
    margin-left:10px;
    color: white;}
    p4{
        position:absolute ;
        top: 10px;}
        button4{
            background-color: white;
            color: black;
            border-radius: 25px;
            position: absolute;
            right: 20px;
            top: 15px;
            padding: 20px;
            width: 160px;
        height: 15px;}
            
            p10{
             position: absolute;
                left: 50px; }
.child4{
    background-color: rgb(25, 25, 25);
    width:1018px;
    height: 10px;
    padding:35px ;
    position: relative;
    left: 350px;
    top: 10px;
    border-radius:5%;
    position: sticky;
    top: 5px;}
span9{
    color: white;
    font-size:xx-large;
    position: absolute;
    bottom: 30px;}
    span10{
        color: white;
        font-size: xx-large;
        position: absolute;
        bottom: 30px;
        left: 90px;}
        span11{
            color: white;
            font-size:large ;
            position: absolute;
            left: 650px;
            bottom: 35px;}
            span12{
                color: white;
                font-size: xx-large;
                position: absolute;
                left: 880px;
                bottom: 30px;}
                span13{
                    color: white;
                    font-size: large;
                    position: absolute;
                    left: 920px;
                    bottom: 35px;}
                 .bt2{
                        background-color:white;
                        color: black;
                        position: absolute;
                        left: 980px;
                        top: 8px;
                        height: 50px;
                        width: 90px;}
                .child5{
                      background-color:rgb(42, 41, 41) ;
                      position: absolute;
                      right: 300px;
                      top: 98px;
                      left: 370px;
                      padding: 243px;
                      height: 40px;
                      width: 600px;
                      overflow-y:scroll;
                      border-bottom-left-radius: 10px;
                      border-bottom-right-radius: 10px;}
                      
    span14{
        color: white;
        position: absolute;
        top: 20px;
        left: 10px;
        font-size: 30px;}
    span15{
         position: absolute;
        top: 80px;
        left: 20px;}
        p5{
            position: absolute;
            top: 200px; }
            .hov:hover{
                background-color:black;}
            img{
                padding: 30px;
                width: 160px;
                height: 160px;
                position: relative;
                right: 50px;
                bottom: 50px;}
                img:hover{
              
                    transform: scale(1.1);}
    span15,span16,span17,span18,span19{
        background-color: rgb(61, 62, 61);
        color: #fff;
        padding: 40px;
        height: 200px;
        width: 120px; }
 span16{
        position: absolute;
        top: 80px;
        left: 230px;}
        p6{
            position: absolute;
            top: 200px; }
    span17{
        position: absolute;
        top: 80px;
        left: 440px;}
    p7{
        position: absolute;
        top: 200px; }
    span18{
        position: absolute;
        top: 80px;
        left: 650px;}
    p8{
        position: absolute;
        top: 200px; }
    span19{
        position: absolute;
        top: 80px;
        left: 860px;}
        p9{
            position: absolute;
            top: 200px; }
    th,td{ position: relative;
        text-align: center;
        padding: 20px;
        color:#fff; }
    .tbs{
        position: absolute;
        left: 20px;
        top: 400px;}
